[submodule "bpf"]
	path = bpf
	url = git@github.com:sidchintamaneni/bpf.git
[submodule "linux"]
	path = linux
	url = git@github.com:sidchintamaneni/linux.git
[submodule "tools/retsnoop"]
	path = tools/retsnoop
	url = git@github.com:anakryiko/retsnoop.git
[submodule "dev-tools/ctags"]
	path = dev-tools/ctags
	url = git@github.com:universal-ctags/ctags.git
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "tools/schbench"]
	path = tools/schbench
	url = https://git.kernel.org/pub/scm/linux/kernel/git/mason/schbench.git/
